.add-button{
  background: linear-gradient(180deg, #37BDF5 0%, #4AA4ED 100%);
  border-radius: 5px;
  height: 55px;
  width: 180px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: 0;
}