.add-button{
  background: linear-gradient(180deg, #37BDF5 0%, #4AA4ED 100%) !important;
  border-radius: 5px !important;
  height: 55px !important;
  width: 180px !important;
  font-weight: 900 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #FFFFFF !important;
  border: 0 !important;
}